body{
    background:#10002a;
    color:white;
    font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align: left;
}

#Welcome{
    color: rgb(47, 255, 106);
    font-size: 25px;
}

#aboutMe{
color: rgb(21, 232, 255);
background: #002355;
font-size: 20px;
}

#projects{
color: rgb(255, 21, 243);
background: #230029;
font-size: 25px;
}

.project{
    color: rgb(21, 255, 52);
background: #2d0036;
}